<p>Aqui vemos el detalle de un destino de un viaje!
    <br>
    {{ destino.id }}
    <br>
    {{ destino.nombre }}
</p>
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    
>

    <mgl-marker
        [lngLat]="[-84.844319, 10.329270 ]"
    >
        <div
            onclick="alert('Hola amigo')"
            class="marker"
        >
            Hola Mundo
        </div>
    </mgl-marker>
</mgl-map>
