<p>vuelos works!</p>

<div class="navLinks">
    <a [routerLink]="['./main']">Principal</a>
    <a [routerLink]="['./mas-info']">Mas Info</a>
    <a [routerLink]="['./',710]">Vuelo 710</a>
</div>

<router-outlet></router-outlet>
